configuration {
	modi: "combi,calc:qalc -t";
	width: 40;
	font: "Cantarell 16";
	show-icons: true;
	terminal: "alacritty";
	ssh-client: "ssh";
	ssh-command: "{terminal} -- {ssh-client} {host}";
	combi-modi: "drun,window,ssh";
	hide-scrollbar: true;
	dpi: 192;
	theme: "slate";
}
