configuration {
    font: "Cantarell 14";
    show-icons: true;
    combi-modi: "window,drun,ssh";
    terminal: "alacritty";
    ssh-client: "ssh";
    ssh-command: "{terminal} -e {ssh-client} {host}";
    run-command: "{cmd}";
    hide-scrollbar: true;
    run-command: "{cmd}";
    theme: "slate";
}
