.cache
.cask/*
.org-id-locations
ac-comphist.dat
auto-save-list
backups
config.el
elpa
eshell/*
evil-rebellion/
netrwhist
network-security.data
places
projectile-bookmarks.eld
projectile.cache
recentf
tramp
undo-tree-history
